/*General*/
.small i { font-size: 0.8em; }
.medium i { font-size: 1em; }
.large i { font-size: 2.5em; }

/*List Navigation*/
#list-nav{
    background-color:#ecf0f1;
    height:100vh;
    padding:0;
}

#list-nav .list{
    padding:2%;
}

.list.active{
    background-color:#3498db;
    color: white;
}

/*Menu Module*/
.menu-module {
	position: relative;
    top: 30%;
    padding: 2%;
    margin:2%;
    height:49%;
}
h4, h5{
	text-align: center;
}

h5{
	border: 1px solid #BDBDBD;
	padding: 1em 1em 1em 1em;
}

h3{
    font-size: 1.4em;
}
p{
	color: black;
    font-size: 1em;
}


/*Task List*/
#task-list{  padding:2%;  }
.task span{  font-size:1.3em;  }
.task.callout{ padding:.5em; }
#item{cursor:pointer;}
