<!doctype html>
<html lang="en" ng-app="todoApp" data-framework="angularjs">
	<head>
		<meta charset="utf-8">
		<title>AngularJS Project</title>
		<link rel="stylesheet" href="css/foundation.css" />
		<link rel="stylesheet" href="css/styles.css">
		<link rel="stylesheet" href="css/app.css" />
		<link rel="stylesheet" href="foundation-icons/foundation-icons.css" />
		<style>[ng-cloak] { display: none; }</style>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<script src="web-scraping/temp.js"></script>
	</head>
	<body ng-controller='todoController' ng-cloak>
		<div class="expanded row">
			<div class="large-4 columns" id="list-nav">
				<div class="list">
					<h3>Home</h3>
				</div>
				<div class="list active">
					<h3>Title of a List</h3>
				</div>
				<div class="menu-module">
					<h4>Today's Menu</h4>
					<div class="dining-halls">
						<div class="row">
							<div class="large-6 columns">
								<a href="" ng-click="showme=true">Covel</a>
								  <button ng-click="showme=false">Close</button> 
								  
								  <div class="wrapper">
								    <p id="covel-menu"ng-show="showme">Put menu stuff here!</p>
								  </div>
							</div>
							<div class="large-6 columns"><h5>De Neve</h5></div>
							<div class="large-6 columns"><h5>Feast</h5></div>
							<div class="large-6 columns"><h5>Bruin Plate</h5></div>
						</div>
					</div>
				</div>
			</div>
			<div class="large-8 columns" id="task-list">
				<div class="row">
					<add-item-form></add-item-form>
					<span class="large"><i class="fi-calendar"></i></span>
				</div>
				<div class="callout task" ng-repeat="item in getItems()">
					<input id="checkbox1" type="checkbox" ng-click="checkItem(item)">
					<span>{{item}}</span>
				</div>
				<div class="button-group" ng-show="isChecked()">
					<a class="secondary button">View</a>
					<a class="success button">Edit</a>
					<a class="warning button">Share</a>
					<a class="alert button" ng-click="removeItem()">Delete</a>
				</div>
			</div>
		</div>
		<script src="js/vendor/jquery.min.js"></script>
		<script src="js/Angular.js"></script>
		<script src="js/todo.js"></script>
		<script src="js/to-do-controller.js"></script>
		<script src="js/todo-model.js"></script>
		<script src="js/add-item-form.js"></script>
		<script src="js/foundation.min.js"></script>
	</body>
</html>