<!doctype html>
<html lang="en" ng-app="todoApp" data-framework="angularjs">
	<head>
		<meta charset="utf-8">
		<title>AngularJS Project</title>
		<link rel="stylesheet" href="css/foundation.css" />
		<link rel="stylesheet" href="css/styles.css">
		<link rel="stylesheet" href="css/app.css" />
		<link rel="stylesheet" href="foundation-icons/foundation-icons.css" />
		<style>[ng-cloak] { display: none; }</style>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	</head>
	<body ng-controller='todoController' ng-cloak>
		<div class="expanded row">
			<div class="large-4 columns" id="list-nav">
				<div class="list">
					<h3>Home</h3>
				</div>
				<div class="list active">
					<h3>Title of a List</h3>
				</div>
				<div class="menu-module">
					<h4><a id="menu-title" href="" ng-click="showme=true">Today's Menu</a>
						<button ng-click="showme=false">Close</button></h5>
					</h4>
					<div class="dining-halls">
						<div class="row">
							<div class="large-6 columns">
								  <div class="wrapper">
								  	<h3 ng-show="showme">Covel</h3>
								  		<!-- <h6 ng-show="showme"> Breakfast </h6> -->
								    		<p id="covel" ng-show="showme">No data yet!</p>
								  </div>
							</div>
							<div class="large-6 columns">
								<div class="wrapper">
									<h3 ng-show="showme">De Neve</h3>
									<p id="deneve" ng-show="showme">No data yet!</p>
								</div>
							</div>
							<div class="large-6 columns">
								<div class="wrapper">
									<h3 ng-show="showme">Feast</h3>
									<p id="feast" ng-show="showme">No data yet!</p>
								</div>
							</div>
							<div class="large-6 columns">
								<div class="wrapper">
									<h3 ng-show="showme">B-Plate</h3>
									<p id="bplate" ng-show="showme">No data yet!</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="large-8 columns" id="task-list">
				<div class="row">
					<add-item-form></add-item-form>
					<span class="large"><i class="fi-calendar"></i></span>
				</div>
				<div class="callout task" ng-repeat="item in getItems()">
					<input id="checkbox1" type="checkbox" ng-click="checkItem(item)" class="large-1">
					<span ng-show="isEdit(item) ">
						<form class="large-8 columns">
							<input type='text' ng-model='editor' placeholder="{{item}}" name='newItem' id='newItem' />
							<input ng-click='editing(item,editor)' type='submit' style="display:none;" />
						</form>
					</span>
					<span ng-hide="isEdit(item)">{{item}}</span>
				</div>
				<div class="button-group" ng-show="isChecked()">
					<a class="secondary button">View</a>
					<a class="success button" ng-click="editorClicked(item)">Edit</a>
					<a class="warning button">Share</a>
					<a class="alert button" ng-click="removeItem()">Delete</a>
				</div>
			</div>
		</div>
		<script src="js/vendor/jquery.min.js"></script>
		<script src="js/Angular.js"></script>
		<script src="js/todo.js"></script>
		<script src="js/to-do-controller.js"></script>
		<script src="js/todo-model.js"></script>
		<script src="js/add-item-form.js"></script>
		<script src="js/foundation.min.js"></script>
		<script src="web-scraping/scrape.js"></script>
	</body>
</html>